body {
    font-family: Arial, sans-serif;
    margin: 0 10%;
}
header {
    background-color: #ffccd4;
    color: white;
    padding: 2rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}