body {
    font-family: Arial, sans-serif;
    margin: 0 10%;
    background-image: url("../Images/bg.png");
}
.container {background-color: white;}
header {
    background-color: #ffccd4;
    color: white;
    padding: 2rem;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3{
    font-size: 1.25rem;
}
.circle {
    border-radius: 50%;
    border: 5px solid #ffccd4;
}